/** Main LESS file for Creative Choice Blog
 * 	Custom.less
 * 	@Since: 1.0
 *	Changes on the theme or a child theme should be made in 
 *	- settings.less
 *	- settings.php (functions.php)
 * 
 * 	= Responsive =
 *	Responsiveness is mostly implemented through @media queries using the LESS definitions
 *	for resolutions in more.less
 *
 * 	Useful articles and resources
 * 	http://www.w3schools.com/css/css3_gradients.asp
 * 	http://css-tricks.com/snippets/css/a-guide-to-flexbox/
 *	http://tools.konstruktors.com/
 *	http://davidwalsh.name/web-development-tools
 *	https://developer.mozilla.org/en-US/demos/tag/tech:css3/
 *	http://blog.triphp.com/design/10-of-the-best-free-high-quality-fonts-available.html
 *	http://kuttler.eu/code/custom-wordpress-sql-query-for-multiple-meta-values/
 *	http://www.garyc40.com/2010/03/5-tips-for-using-ajax-in-wordpress/
 *	http://calebserna.com/dashicons-cheatsheet/
 *	http://ifontyou.com/combos/popular
 */


@import (less) "reset.css"; 				/* Import reset style to be overriden */
@import "more.less";				/* Basic mixins, constants, functions */
@import "settings.less";			/* Theme-specific settings */

 
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Elements
2.0 - Helper Classes
3.0 - Typography
4.0 - Layout
	4.1 - Header
	4.2 - Content
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
	5.3 - Mobile Menu
6.0 - Grid Styling
7.0 - Thumbnails
8.0 - List Styling
9.0 - Widgets
	9.1 - Headbar
10.0 - Content
	10.1 - Posts and Pages
	10.2 - Quotes
	10.3 - Categories, tags
	10.4 - Comments
	10.5 - Formats: Quote
11.0 - Forms
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
	12.3 - Slider
13.0 - Extras

14.0 - Search Form
	15.1 - Mobile Search Form
15.0 - Media Queries (except menu)
--------------------------------------------------------------*/


/*********************************** 
 *  1.0 Elements
 **********************************/
 
h1, h2, h3, h4, h5, h6 {
	text-decoration				: none;
	line-height					: 2em;
	clear						: both;
	font-family					: @font2;
	font-weight					: normal;	
}
h1 {
	font-size					: 2em;
}
h2 {
	font-size					: 1.6em;
}
h3 {
	font-size					: 1.4em;
}
h4 {
	font-size					: 1.25em;
}
h5 {
	font-size					: 1.2em;
}
h6 {
	font-size					: 1.1em;
}
a, a:active, a:hover,a:focus,a:visited {
	color						: @txtcolor2;
	text-decoration				: none;
	.transition(all, @delay/2, ease-in-out);
}
p {
	margin						: 0 0 @margin*3;
	line-height					: @line-height;
}
ul, ol {
	margin						: 0;
}
th,td {
	padding						: @padding;
}

/*********************************** 
 *  2.0 Helper Classes
 **********************************/
.aligncenter {
	clear						: none;
}					
.noborder {
	border						: none!important;
}
.bottomborder {
	border-bottom				: 2px solid @color1;
}
.floatleft {
	float						: left;
}
.floatright {
	float						: right;
}
.fullwidth {
	width						: 100%;
}
.highlighted {
	background					: @highlighted;
	color						: @bkg;
	padding						: 2px;
}
.kicker {
	color						: @color2;
	font-size					: @font-size;
	font-family					: @font2;
}
.betweenlink {
	border-top					: 1px solid @menulight;
	border-bottom				: 1px solid @menulight;
	padding						: 2*@padding;
	width						: 100%;
	clear						: both;
	float						: left;
}
.fixed {
	position					: fixed;
	z-index						: 99999;
}
.ccb-search-throbber {
	background-image			: url(@searchthrobber);
}

/*********************************** 
 *  3.0 Typography
 **********************************/
body, html {
	font-family					: @font1;
	font-size					: @font-size;
	-webkit-font-smoothing		: antialiased;
}


/*********************************** 
 *  4.0 Layout
 **********************************/
.site-content {
	background-color			: @bkg;
	padding-bottom				: @sitepaddingbottom;
}
.site-main {
	width						: 100%;
	margin						: 3*@margin 0;
	padding						: 0 @sitepadding;
}


/***********************************
 *  4.1 Header 
 ***********************************/
.site-branding {
	background-size				: cover;
	background-color			: @bkg;
	padding						: 4rem;
	overflow					: hidden;				/* If hiding header */
}
#ccb-logo {
	text-align					: center;
}
.site-title {
	font-family					: @font-site-title;
	font-size					: @sitetitlesize;
	color						: @color1;
}
.site-description {
	font-family					: @font2;
	padding						: 0 @padding;
	color						: @txtcolor;
	background					: rgba(255,255,255,.75);
	font-size					: @sitetitlesize/2;
}



/*********************************** 
 *  4.2 Content
 **********************************/
 .content-area {
	margin						: 0;
	width						: 100%;
}
 .withsidebar .content-area{
	float						: left;
	width						: 100%;
	margin						: 0 -@sidebarwidth 0 0;
}
 .withsidebar .site-main {
	margin						: @margin*3 @sidebarwidth 0 0;
	width						: 100% - @sidebarwidth;
	width						: 100vw - @sidebarvw;
}
 .withsidebar .ccb_headbar {
	width						: 100%;
}
.page-header {
	width						: 100%;
}
.page-title {
	font-family					: @font2;
	text-transform				: uppercase;
	word-wrap					: break-word;
	padding						: @padding*3 0 @padding;
	text-align					: center;
	font-size					: @font-large;
}


/*********************************** 
 *  4.3 Sidebar
 **********************************/
#sidebar {
	overflow					: hidden;	/* essential */
	width						: @sidebarwidth;
	border-left					: 1px dashed @color2;
}
#sidebar .widget, #sidebar .widget a  {
	background					: @bkg;
	color						: @color1;
}

#secondary {
	margin-left					: 100%;
	width 						: 100%;
	display						: none;		/* for position of footer */
}
.withsidebar #secondary {
	display						: block;
	margin-left					: 0;
}


/*********************************** 
 *  4.4 Footer
 **********************************/
.footercontainer {
	border-top					: 1px solid @color1L;
	background					: @bkg3;
}

.footercontainer .widget {
	float						: left;
	margin						: 0;	
}
.footercontainer .widget,
.footercontainer .widget a,
.footercontainer .widget-title {
	color						: @color1;
} 

.footercontainer .widget p,
.footercontainer .widget ul,
.footercontainer .widget ol {
	text-align					: left;
}
.site-footer {
	clear						: both;
	width						: 100%;
	color						: @color1L;
	font-family					: @font2;
	text-transform				: uppercase;
	font-size					: 10pt;
	padding						: @padding;
	text-align					: center;
}
.site-footer a {
	color							: @bkg;
}
.tothetop {
    position						: fixed;
    bottom							: @padding;
    right							: @padding;
    text-decoration					: none;
    color							: @bkg;
    background-color				: @color2;
	font							: @dashicons;
    padding							: @padding;
	display							: none;
	.border-radius(50%);
	.opacity(0.8);	
	.transition(bottom, @delay, ease-in-out);
}
.tothetop:before {
	content							: '\f343';
	font-size						: @font-size-nav;
    color							: @bkg;
}
.tothetop:hover {    
    bottom							: @padding*2;
	.transition(bottom, @delay, ease-in-out);
}

/** Mobile footer **/
@media @mobile {
	.footercontainer .col {
		width						: 100%!important;
	}
}
@media @tablet {
	.footercontainer .col {
		width						: 50%;
	}
}


/*********************************** 
 *  5.0 Navigation
 **********************************/
.navigation {
	clear							: both;
	width							: 100%;
}
.top-navigation {
	text-align						: right;
	background						: @bkg;
	position						: absolute;
	width							: 100%;
	z-index							: 1000;
	background-color				: @transparent;
	font-size						: @font-small;
	font-family						: @font3;
}
.top-navigation li {
	list-style						: none;
	font-size						: 1em;
	padding							: 0 4px;
	display							: inline;
	list-style						: none;
}
.top-navigation .menu .menu-item a {
	padding							: 0;
}
.menu-all-pages-container {
    max-width						: 90%;
}
.main-navigation {
	background						: @menubkg;
	color							: @menulight;
	border-bottom					: 1px solid @menulight;
	font-family						: @font2;
	font-size						: @font-size-nav;
	padding							: 0 @sitepadding;	
	top								: 0;
	max-height						: @navigationheight;
	width							: 100%;
	text-transform					: uppercase;
}
.main-navigation>ul {
	max-width						: 100%;	/* leave room for looking glass */
}
.main-navigation li {
	z-index							: 1000;
}
.menu .menu-item a{
	color							: @menutext;
	padding							: @padding*2;
	height							: auto;
}
.menu .menu-item a:hover{
	color							: @color2;
}
.menu>.menu-item {
	height							: @font-size-nav + @padding*5;
}
.main-navigation li:hover > a {
	cursor							: pointer;
}
.main-navigation ul {
	.box-shadow(0);
}
.main-navigation ul ul {
	top								: 0;
	width							: 0;
	position						: relative;
	.opacity(0);
}
.main-navigation ul ul ul {
	.opacity(0);
} 
.main-navigation ul li:hover ul,
.main-navigation ul ul li:hover ul
{
	height							: auto;				/* Collapsed */
	width							: auto;
	position						: absolute;
	min-width						: 150px;			/*100%;*/
	top								: @font-size-nav + @padding*5;
	.opacity(1);
}
.main-navigation ul ul li {
	clear							: both;
	width							: 100%;
	white-space						: nowrap;
	border-top						: 0;
	border-bottom					: 1px solid @menulight;
}
.main-navigation .menu ul li:first-child {
    border-top: 1px solid @menulight;
}
.main-navigation ul ul a{
	background						: #fdfdfd;
	color							: @menutext;
	height							: 3em;
}
.main-navigation ul ul li:hover a,
.main-navigation ul ul ul li:hover a,
{
	background						: @menubkg;
}
.main-navigation ul ul ul{
	border-top						: 0;
}
.main-navigation ul ul > li.current-menu-item > a:before {
	border							: 0;
}
.main-navigation ul ul ul li {
	position						: relative;
}
/** Opacity transition on submenu **/
.main-navigation ul li:hover>ul>li,
.main-navigation ul ul li:hover li  {
    .opacity(1);
	.transition(opacity, @delay/2, ease-in-out);
}
.main-navigation ul ul li:hover ul {
    top: 1em;
}
/* Highlighted menu item */
.menu-item.highlight a {
	font-weight: bold;
    border: 2px solid @color1;
    margin: 10px 0 0;
    padding: @padding/2;
}


@media @nomobile {
	/* No left padding on first menu item if the larger menu is displayed */
	.main-navigation>div>ul>li:first-child>a {
		padding-left				: 0;		
	}
	/* Opacity for hover menu */
	.main-navigation ul ul, .main-navigation ul ul li, .main-navigation ul ul ul, .main-navigation ul ul ul li  {
		.opacity(0);
	}
}


/*********************************** 
 *  5.1 Post and Paging Navigation
 **********************************/
.paging-navigation {
	clear							: both;
	display							: block;
}
.post-navigation .nav-previous, .comment-navigation .nav-previous, .paging-navigation .nav-previous
 {
	float							: left;
	padding							: 0;
	width							: auto;
	margin							: @margin*2 @margin @margin*2 0;
	text-transform					: uppercase;	
}
.post-navigation .nav-next, .comment-navigation .nav-next, .paging-navigation .nav-next {
	text-align						: right;
	margin							: 1em 0;
	padding							: 0;
	width							: auto;
	text-transform					: uppercase;
}
.nav-links a {
	color							: @color1;
	font-family						: @font3;
	word-break						: break-word;
	line-height						: @padding*3;
}
.nav-links a:hover {
	color							: @color2;
}
.nav-links .nav-previous a {
	padding							: @padding;
}

/* Arrows */
.nav-arrowleft {
  margin							: 2*@margin 0;
  padding							: 0;
  float								: left;
}

.post-navigation .nav-previous:before , .post-navigation .nav-next:after ,
.paging-navigation .nav-previous:before , .paging-navigation .nav-next:after ,
.nav-arrowleft:before
{
	font							: @dashicons;
	vertical-align					: bottom;
}
.paging-navigation .nav-previous:before,
.nav-arrowleft:before  {
	content							: "\f341";
	color							: @color1;
	background						: @bkg;
	padding							: @padding*2;
	font-size						: 1.5em;
}
.paging-navigation .nav-next:after,
.post-navigation .nav-next:after
{
	content							: "\f345";
	color							: @color1;
	background						: @bkg;
	padding							: @padding*2;
	margin-left						: @margin;
	font-size						: @font-size-nav*1.5;
}
.post-navigation .meta-nav,
.paging-navigation .meta-nav {
	visibility						: hidden;	/* not display:none because of spacing */
}

/*********************************** 
 *  5.3 Mobile Menu
 **********************************/
@media @mobile {
				.main-navigation {
					padding						: 0;
					height						: auto;
				}
				.main-navigation ul li:hover ul, .main-navigation ul ul li:hover ul {
					position: static;
					top: auto;
				}
				.main-navigation li {
					background					: @menubkg;	
					clear						: left;
					width						: 100%;
					border						: 1px solid @menulight;
				}
				.main-navigation li:first-child {
					border-top					: none;
				}
				/* Mouseover menu item */
				.main-navigation li a:hover {
					background					: @menulight;
					color						: @menutext;
					.transition (all,@delay, ease-in-out);
				}
				/* 2nd level mobile navigation */
				.main-navigation ul li:hover ul,
				.main-navigation ul ul li:hover ul
				{
					height						: auto!important;
					width						: 100%;
				}
				.main-navigation ul ul, .main-navigation ul ul ul {
					position					: static;
					padding-left				: 2*@padding;
					.opacity(1);
					display						: block;
					width						: 100%;
				}
				.main-navigation ul ul li:first-child{
					border-top					: 1px solid @menutext;
				}
				.main-navigation .menu>.menu-item {
					height						: auto!important;
					width						: 100%;
					display						: block;
				}
				.main-navigation .menu>.menu-item {
					width						: 100%;
				}
				.menu ul ul a{
					width						: 100%;
					padding						: @padding;	
				}
				/* Navbar search form */
				.ccb_navsearch {
					width						: 25%!important;
					height						: @adminbarheightmobile;
					background					: @menubkg;
				}
				.ccb_navsearch #searchform #s{
					font-size					: 20px!important;
					margin						: 0!important;
					padding						: 0;
					width						: 25%!important;
					height						: 2.5em;
					}
				.ccb_navsearch #searchform #s:focus {
					left						: -300%!important;
					width						: 400%!important;
					z-index						: 10000;
					border-left					: 0!important;
					top							: 0;
					border-bottom				: 0;
					padding-left				: @padding;
					opacity						: 1;
				}
				/** Show menu icons on mobile **/
				.menu-ccb-tags, .menu-ccb-search, .menu-ccb-context {
					display						: block;
				}
				.ccb_navsearch #searchform:after {
					position					: relative;
					z-index						: 9999;
					padding						:0 !important;
					cursor						: pointer;
				}	
				button.menu-toggle, button.menu-ccb-tags, button.menu-ccb-context,
				button.menu-toggle:focus,button.menu-ccb-tags:focus, button.menu-ccb-context:focus,
				button.menu-toggle:active,button.menu-ccb-tags:active, button.menu-ccb-context:active,
				button.menu-toggle:visited,button.menu-ccb-tags:visited, button.menu-ccb-context:visited,
				button.menu-ccb-tags:hover, button.menu-ccb-context:hover, button.menu-toggle:hover {
					display						: block;
					border						: none;
					background					: @menubkg;
					color						: @menutext;
					height						: @adminbarheightmobile;
					text-shadow					: none;
					font						: @dashicons;
					font-size					: @font-size-buttons;
					float						: left;
					-webkit-appearance			: none;
					width						: @menubuttonwidth;
					.box-shadow(none);
					.border-radius(0);
				}
				.menu-toggle:before {
					content						:'\f333';
				}
				.menu-ccb-tags:before {
					content						:'\f323';
				}
				.menu-ccb-context:before {
					content						:'\f242';
				}
				.menu-ccb-search:before {
					content						:'\f179';
				}
}

/** Hide mobile menu icons by default **/
.menu-ccb-tags, .menu-ccb-search, .menu-ccb-context {
		display						: none;
	}


/*********************************** 
 *  6.0 Grid
 **********************************
 * HTML structure of grid:
 * <#container>
 *   <.grid-sizer>
 *	 <.row>
 * 		<.entry>
 *			<.entry-border>
 *				<.details>
 *					<.post-title>
 *					<.excerpt>
 * 						<.thumb>
 * 							<.thumbcrop>
 *								<.thumbtext>
 * 								<.thumbimg> 
 */
#container {
	width						: 100%;
	clear						: both;
	position					: relative;
	float						: left;
}
.col {
	max-width					: @col-max-width;
	min-width					: @col-min-width;
}
.col1 {
	width						: 100%;
}
.col2 {
	width						: 50%;
}
.col3 {
	width						: 33.33%;
}
.col3.double {width: 66.66%;}
.col.col4 {
	width						: 25%;
}
.col4.double {width: 50.00%;}
.col4.triple {width: 75.00%;}
.col.col5 {
	width						: 20%;
}
.col5.double {width: 40.00%;}
.col5.triple {width: 60.00%;}
.col.col6 {
	width						: 16.66%;	/* Rounded down */
}
.col6.double {width: 33.33%;}
.col6.triple {width: 50.00%;}
.col.col7 {
	width						: 14.42%;
}
.col.col8 {
	width						: 12.5%;
}
.col.col9 {
	width						: 11.1%;
}
.col.col10 {
	width						: 10%;
}
.entry-border {
	border						: 1px solid @bordercolor;
	padding						: 0;
	margin						: .5em;
	background-color			: @bkg;
	.box-shadow(@boxshadow);
}
.entry {
	float						: left;
	position					: relative;
	opacity						: 1;
	margin						: 0;

}
.entry .thumbcrop {
	position					: relative;
}
.entry p {
	word-break					: break-all;
	word-break					: break-word;
	hyphens						: auto;
	margin						: 0;
	cursor						: pointer;
}
.entry .post-title {
	font-family					: @font2;
	word-break					: break-word;
	text-transform				: uppercase;
	font-size					: 1em;
	line-height					: 2em;
}

.entry:hover {
	cursor						: pointer;
}

/** Entry Metas **/
.entry-metas  {
	font-family					: @font3;
}
.col .entry-meta {
	display						: inline;
	margin-bottom				: @margin;
}
.entry-metas .widget {
	padding						: 0;
	margin-top					: 1em;
}

.single .entry-meta {
	font-size					: @font-size;
}
.single .entry-meta, .single .entry-meta a {
	color							: @color2;
}


/** Metacolumn left on wider screens */
@media @fullscreen {
	.site-main .single .metacolumn .entry-meta {
		margin: 0;
	}
	.site-main .single .metacolumn .entry-meta span:before
	{
		display						: none;			/* no icons */
	}
	.site-main .single .metacolumn {
		margin-left					: -(@metainfowidth+@metacolumn)/2;
		width						: @metainfowidth;
		margin-top					: @margin;
		margin-bottom				: 50px;			/* margin for floating metacolumn */
		padding						: 0;
		float						: left;
		font-family					: @font3, sans-serif;
	}
	.site-main .single .metacolumn .entry-meta {
		display						: block;		/* underneath each other */
		word-break					: break-word;
	}

	.single .metacolumn .posted_by {
		font-size					:1.25rem;
		}
	.single .metacolumn .posted_on {
		margin-bottom				: 2em;
		font-size					: 8pt;
	}
	.single .metacolumn .cat_list a {
		padding						: 4px;
		margin						:10px 0 0;
		display						:inline-block;
		margin-right				: 10px;
		background					: @color2;
		color						: @bkg;
		text-transform				: uppercase;
	}
	.single .metacolumn .tags_list {
		font-style					:italic;
	}
}

/*********************************** 
 *  6.3 Mobile Grid
 **********************************/
@media @mobile {
 .col {
		width						: 100%!important;
	}
}

/*********************************** 
 *  7.0 Thumbnails
 **********************************/
.thumb {
	background					: @bkg;
	border						: 1px solid @bordercolor;
	text-align					: center;
}	
.thumbcrop {
	position					: absolute;
	margin 						: 0;
	width						: 100%;
	max-height					: @gridimagemaxheight;
    background-position			: center center;
	overflow					: hidden;
	background-size				: cover;
	background-repeat			: no-repeat;
}

/* Set the image to fill its parent and make transparent */
.thumbcrop img {
	position					: relative;
	top 						: 0;
	left 						: 0;
	width						: 100%;
	.transition(all, @delay);
	.transform(0,1,0,0);
}

.thumbcrop img:hover {
	.transform(0,1.25,0,0);
	.transition(all, @delay);
}

/* full width at 100% of screen */
img.attachment-full {
	width						: 100%;
}

/*********************************** 
 *  9.0 Widgets
 **********************************/
.widget {
	position					: relative;
	/*margin						: 0 @margin @margin*3;*/
	padding						: 2em;
	float						: left;
	width						: 100%;
}
.widget-title {
	border-bottom				: 2px solid @color1;
}
.widget-title, .widget-title a {
	font-family					: @font2;
	font-size					: @font-size-widgettitle;
	padding						: 0;
	margin 						: 0 0 .5em;
	text-transform				: uppercase;	
	color						: @color1;
}
.widget a {
	color						: @color1L;
}
.cat-links a, .cat-links a:hover {
	text-decoration				: none;
}
.widget li {
	list-style: none;
    font-family: @font3;
    border-bottom: 1px solid @menulight;
    padding: @padding;
    color: @color1L;
}
.widget li:before {
	font: 200 1em/1 dashicons;
    content: '\f139';
}
.widget li:hover, widget a:hover {
	color:@color2;
	.transition(background,@delay)
}

/*********************************** 
 *  9.1 Headbar Widget Area
 **********************************/
.ccb_headbar {
	background					: @bkg;
	width						: 100%;
	z-index						: 99999;
}
.ccb_headbar.fixed {
	top							: @headbartop;
}
.admin-bar .ccb_headbar.fixed {
/*	top							: @adminbarheight+@headbartop;*/
}
.ccb_headbar .widget {
	position					: static;
	float						: none;
	margin						: 0;
	padding						: @padding*2;
	border-bottom				: 2px solid @color1;
	display						: none;
}
.ccb_headbar h2 {
	display						: none;			/* Hide widget headers */
}


/*********************************** 
 *  10.0 Content
 **********************************/
/*********************************** 
 *  10.1 Posts and Pages
 **********************************/
.site-main .single{
	margin						: @margin*3 @metacolumn;
}
.withsidebar .site-main .single {
    margin						: @margin*3 0 0 @metacolumn;
}
.entry-title, .entry-title a {
	font-family					: @font2;
	line-height					: 1.25;
	color						: @txtcolor;
	padding						: 0;
	margin						: 0.5em 0 0.2em;
}
.post .entry-title, .page .entry-title {
	text-transform				: uppercase;
	font-size					: @font-title;
	line-height					: @font-title*1.25;
	color						: @color1;
	margin						: 0;
	padding						: @padding 0;
}
.entry-content {
	font-family					: @font1;	
	color						: @txtcolor;
	font-size					: @font-content;
	line-height					: @line-height;
	margin						: 0;
	width						: 100%;
	max-width					: 60rem;  /* not too wide on large screens */
	float						: left;
}
.entry-content a {
    border-bottom				: 1px dotted @color2;
}
.entry-content img {
	border						: 1px solid #ddd;
	padding						: 2px;
	background					: @bkg;
}
.entry-content ul, .entry-content ol  {
	margin						: @margin @margin*2;
}
.entry-content .col {
	float						: left;
}
.entry-footer {
	font-family					: @font1;
	word-break					: break-word;
}

/*********************************** 
 *  10.2 Quotes
 **********************************/
blockquote, cite {
	font-family					: @font1;
}
blockquote {
	margin						: 0;
	padding-left				: @margin*2;
	border-left					: 4px solid @color2;
	font-style					: italic;
}
cite {
	margin						: 0 .25em;
}
/*
.post.format-quote p:before {
	font						: @dashicons;
	position					: absolute;
	content						: '\f122';
	-webkit-font-smoothing		: antialiased;
	float						: left;
	margin-left					: -1.1em;
	margin-top					: -.2em;
	color						: darken(@bkg,5%);
}*/

/* Highlighted blockquotes on small screens */
blockquote.highlight {
    width							: 33%;
    float							: left;
    padding							: @padding 2*@padding;
    margin-right					: @margin;
	color							: @color2;
	font-size						: larger;
	border							: 0;
}


/*********************************** 
 *  10.3 Categories, tags, etc
 **********************************/
.entry-meta span:before {
	font						: 200 1.5em/0 dashicons;
	position					: relative;
	top							: 3px;
}
.entry-metas .tags_list:before {
	content						: '\f323';
}
.entry-metas .posted-on:before {
	content						: '\f145';
}
.entry-metas .byline:before {
	content						: '\f110';
}
.edit-link:before {
	font						: @dashicons;
	content						: '\f464';
}
.entry-metas .cat-link:before,
.entry-metas .cat_list:before {
	content						: '\f318';
}

.wp-caption .wp-caption-text {
	margin						: @margin 0;
	font-size					: @font-small!important;
}
.tagcloud a {
	font-family					: @font3;
	padding						: 3px;
	margin						: 1px;
	}
.tagcloud a:hover {
	color						: @color2;
	.transition(border, @delay);
}


/*********************************** 
 *  10.4 Comments
 **********************************/
@media @fullscreen {
	.single-post .comments-area {
		width					: 100%;
		float					: left;	
	}
}
h2.comments-title {
	font-size					: @font-size-widgettitle;
	margin						: @margin*2 0 @margin;
	text-transform				: uppercase;
}

.comment-reply-title {
	text-transform				: uppercase;
	margin						: @margin*2 0 @margin;
}
.comment-form label {
	display						: inline-block;
	color						: @txtcolor3;
	font-family					: @font3;
	font-size					: @font-size;
}
.comment-form input {
	vertical-align				: middle;
	margin-right				: @margin;
    max-width					: 100%;
}
.comment-form .form-submit {
    margin						: 2*@margin 0;
}
ol.comment-list, ol.comment-list .children {
    list-style					: none;
}

/*********************************** 
 *  10.5 Formats: Quote, Aside, Link, Image, Video, Audio, Gallery, Chat
 **********************************/
.format-quote .entry-border, .format-quote .post-excerpt, .format-quote .entry-content>p:first-child {
	background					: @color2;
	color						: @bkg;
}
.format-quote .details {
	word-break					: break-all;
}
.format-quote .excerpt, .format-quote .post-excerpt, .format-quote .entry-content>p:first-child {
	padding						: 10%;
	font-family					: @font-quote;
	font-style					: italic;
	font-size					: @font-size-quote;
}
.format-quote .excerpt a{
	color						: @bkg;
}

.format-link .entry-border:before {
    font: @dashicons;
    content: '\f103';
    position: absolute;
}

.format-audio .details:after {
    font: @dashicons;
	font-size: 64px;
    content: "\f127";
    color: @color2;
}

/*********************************** 
 *  10.6 Entry Metas
 **********************************/
ul.post-meta {
	  list-style				: none;
	  font-size					: smaller;
	  font-family				: @font1;
	  color						: @txtcolor3;
	  display					: block;
	  margin					: 0;
}
ul.post-meta li {
	width						: 100%;
}
ul.post-meta span {
	min-width					: 50%;
	text-transform				: uppercase;
	display						: inline-block;
 } 
 
/********************************
 * 10.7 Box etc.
 ********************************/
 .box {
	 padding					: @padding;
	 text-align					: center;
	 font-family				: @font3;
	 font-size					: @font-large/2;
 }
 .box img {
	 float						: left;
	 padding-right				: @padding;
 }
 

/*********************************** 
 *  11.0 Forms
 **********************************/
button, input[type="button"], input[type="reset"], input[type="submit"],
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  background						: @bkg;
  box-shadow						: none;				/* Reset */
  -webkit-appearance				: none;
  font-size							: @font-size-buttons;
  padding							: @padding-buttons;
  margin							: @margin-buttons 0;
  text-shadow						: none;
  color								: @color1;
 }
input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"], input[type="date"] {
  font-family						: @font1;
  font-size							: @font-size-buttons;
  padding							: @padding-buttons;
  height							: @buttonheight;
 }
input[type="button"], input[type="reset"], input[type="submit"], input[type="date"] {
  border							: 2px solid @color1;
  font-family						: @font3;
  text-transform					: uppercase;
  height							: @buttonheight;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	border 							: 2px solid @color1;
	box-shadow						: none;
	color							: @color2;
	.transition(all, @delay);
}
input[type="text"] {
	font-family						: @font1;
	font-size						: @font-size-buttons;
	line-height						: @font-size-buttons;
	margin							: @margin-buttons 0;
	padding							: @padding;
	background-repeat				: no-repeat;
	text-transform					: none;
	background-image				: none;
	background-position				: center right @padding-buttons;
	background-size					: @font-size-buttons;
}

input#searchsubmit, input[type="date"] {
	margin							: @margin-buttons 0;
	vertical-align					: bottom;
	font-size						: @font-size-buttons;
    padding							: @padding-buttons;
}


/*********************************** 
 *  13.0 Extras & Tweaks
 **********************************/

/* Title on top of fullwidth thumbnail image */
.ccb_fullwidth {
	position:relative;
}
.ccb_fullwidth img {
	width	: 100%;
}
.ccb_fullwidth a {
    background: rgba(255, 255, 255, .75);
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    font-size: 20pt;
}

/* Widgets in Entrymetas and Addtoany */
.widget_a2a_share_save_widget .widget-title {font-family:@font3;padding:0; border:0;font-size:@font-size;color:@color2;text-transform:none}
.widget_a2a_share_save_widget .widget-title span {padding-left:4px;}
.widget_a2a_share_save_widget .widget-title:before{font:@dashicons;content:"\f113"}
.a2a_svg {border-radius: 0 !important; }
.a2a_kit a {display: inline-block!important; }
.addtoany_list a {padding: 0 4px 0 0;}
@media @mobile {
	.addtoany_list {	position: static!important;	}
	.a2a_kit a {display: inline!important; }
	.entry-metas .widget-title {display:none;}
}
@media @tablet {
	.addtoany_list {position:absolute;	margin-left	: -@sitepadding;margin-top:2*@margin}
	.a2a_kit a {display: block!important; }
	.entry-metas .widget-title {display:none;}
}
span.a2a_count {
    border							: 0;
}

/* Webit autofill */
input:-webkit-autofill {							/* Override useragent stylesheet */
    -webkit-box-shadow				: 0 0 0px 1000px white inset;
	color							: @txtcolorL!important;	/* Chrome */
	-webkit-text-fill-color			: @txtcolorL;	/* Mozilla */
}

/* Calendar Widget */
.widget_calendar {
	font-family						: @font3;
}
.widget_calendar table{
    padding							: @padding;
    color							: @color1;
}
.widget_calendar caption {
    font-family						: @font2;
	padding							: @padding;
    text-transform					: uppercase;
    text-align						: center;
}
.widget_calendar tfoot td {
	border-top						: 2px solid @color1;
	text-transform					: uppercase;
}
.widget_calendar tfoot td#prev {
	text-align						: left;
}
.widget_calendar tfoot td#next {
	text-align						: right;
}

.widget_calendar td, .widget_calendar th {
    width							: 32px;
    text-align						: right;
}
.widget_calendar tbody td a {
    background-color				: @color2;
	color							: @bkg!important;
    padding							: 1px 3px;
}

@media @mobile {
	input:-webkit-autofill {			/* Override useragent stylesheet */
		-webkit-box-shadow			: 0 0 0px 1000px @color1 inset;
		color						: @bkg!important;	/* Chrome */
		-webkit-text-fill-color		: @bkg;	/* Mozilla */
	}
	input:-webkit-input-placeholder {   color : @bkg; }
	input:-moz-placeholder {	color : @bkg; }
}
div.sharedaddy h3.sd-title,
div#jp-relatedposts h3.jp-relatedposts-headline {
  margin							: 0!important;
  line-height						: 1.2!important;
  font-size							: inherit!important;
  font-weight						: inherit!important;
}

/* Yarpp Plugin */
.yarpp-related {
	margin								: 2@margin 0;
	float								: left;
}
.yarpp-related p {
	font-size							: @font-content;
}
.yarpp-related .yarpp-related h2 {
  	font-weight							: 100!important;
	font-size							: 100%!important;
}
.yarpp-related h3 {
	text-transform						: uppercase!important;
	font-size							: 125%;
	font-weight							: bold;
}
.yarpp-related h2 {
	font-family							: @font2;
	color								: @txtcolor;
	text-transform						: uppercase;
	line-height							: 1;
    padding-bottom						: @padding;
}
.yarpp-related ol {
	border-top							: 1px solid @color1;	
	margin								: 0;
}
.yarpp-related li {
	padding								: @padding @padding*4 0 0;
}
.yarpp-related a {
	font-weight							: normal!important;
}
.yarpp-container{
	width								: 100%;
}
.yarpp-related li {
	list-style							: none;
    float								: left;
	font-size							: 12px;
    padding								: @padding @padding*4 0 0;
}
.yarpp-related .yarpp-image {
	max-height							: 200px;
	overflow							: hidden;
}
.yarpp-related img {
    float								: left;
    margin								: 0 @margin 0 0;
    padding								: 0;
	border								: 0;
	float								: none;
	width								: 100%;
}

/** Form Error messages **/
label.error {
    color								: @colorerror;
    width								: auto;
    text-transform						: none;
    font-size							: @font-small;
}
input.error {
	margin-right						: 1em;
}

/** Specific Widgets **/
.widget_recent_entries .post-date {
	font-size						: small;
}

/** Buttons group **/
div.button-group {
	margin							: @margin*2 0;
}

/* Infinite scroll loading */
#infscr-loading {
	text-align						: center;
	z-index							: 100;
	position						: fixed;
	left							: 25%;
	bottom							: 40px;
	width							: 50%;
	color							: @color1;
}

/** Fixed wpadminbar, taller on mobile screens as per admin-bar.min.css 
  * - Fixed ccb_headbar for mobile
  **/
#wpadminbar {
	position						: fixed;
}
.admin-bar .main-navigation.fixed {
	top								: @adminbarheight;
}

@media @mobile {
	.admin-bar .main-navigation.fixed {
		top							: @adminbarheightmobile;
	}
	.ccb_headbar.fixed {
		top							: @adminbarheightmobile;
	}
}


/* Breadcrumb trail */
.breadcrumbs {
	padding							: @padding @sitepadding;
	border-bottom					: 1px solid @menulight;
	font-size						: @font-small;
	font-family						: @font3;
}

@media @tablet {
	.col.col2 {
		width						: 49.9%;	/* grid rounding */
	}
}

/* jQuery UI */
.ui-datepicker * {color:@color1!important}
.ui-corner-all { border-radius:0!important}
.ui-state-hover {border:0!important;background:transparent!important}
.ui-widget-header {background:@color1!important; color:@bkg!important}
.ui-widget-content{font-family:@font3!important}
.ui-state-default {background:@bkg!important;border:0!important}
.ui-state-default:hover {color:@bkg!important;background:@color2!important;}

.ui-datepicker-prev span, .ui-datepicker-next span {visibility:hidden!important}
.ui-datepicker-prev:before, .ui-datepicker-next:before {font: 2em/1 dashicons!important;color: @bkg!important;}
.ui-datepicker-prev:before { content: "\f141"!important;}
.ui-datepicker-next:before{content: "\f139"!important;}

/*********************************** 
 *  14.0 Search Form
 **********************************/
 
/* http://themesandco.com/snippet/adding-an-html5-search-form-in-your-wordpress-menu/ */
.ccb_navsearch {
	float						: right!important;
	padding						: @padding @padding*2;
	right						: 0;
	z-index						: 99999;
	position					: absolute;
}

@media @nomobile {
	.main-navigation .ccb_navsearch {
		position				: absolute;
	}
	.ccb_navsearch #searchform #s {
		padding					: @padding @padding*4;	
	}
	.ccb_navsearch #searchform #s:focus {
		padding					: 0 @padding;	
	}
	
}

#searchform #s {
 	background-position			: center left @padding;
	background-repeat			: no-repeat;
	background-size				: @font-size-nav;	
	font-family					: @font1;
    color						: @color1;
	border						: 2px solid @color1;
	outline						: @color2;
	z-index						: 10000;
}
.widget #searchform #s {
	width						: 100%;
}
.ccb_navsearch #searchform #s {
	background-color			: transparent;
	border						: none;
	cursor						: pointer;
	position					: absolute;
	outline						: 0;
	margin						: @padding 0;
	font-size					: @font-size-nav;
	width						: 2em;
	height						: 20pt;
	.opacity(0);
	.border-radius(0);
}
.ccb_navsearch #searchform:after {
	font						: @dashicons;
	font-size					: @font-size-nav * 1.5;
	line-height					: @font-size-nav + @padding;
	content						: '\f179';
	color						: @color1;
	padding						: @padding;
	cursor						: pointer;
}
.ccb_navsearch #searchform #s:focus  {
	width						: 260%;
	left						: -250%;		
	height						: @padding*5;
	margin						: 0;
	border-left					: 1px dashed @color1L;
	background-color			: @bkg;
	.transition(padding-left,@delay,@transitionbezier);
	cursor						: text;
	.opacity(1);
}

/* No submit button in navigation search */
.ccb_navsearch #searchform #searchsubmit
 { 
	display						: none;
}

/* Extended Search Widget */
.searchwrapper .mydate {
	border						: 1px solid @color1;
	margin						: @margin;
	width						: 100px;
	font-size					: 15px;
	font-family					: @font3;
}

/*********************************** 
 *  15.0 Media Queries
 **********************************/

/* Mobile Phone*/
@media @mobile {
					.fixed {
						position						: inherit;
					}
					p {
						font-size 						: 1em;
						overflow						: inherit;	/* don't break layout */
					}
					blockquote {
						width							: 100%;
					}
					.top-navigation .menu a {
						font-size:10px;
					}
					.site-branding {
						height							: auto;
						min-height						: 0;
						padding							: @padding;
					}
					.entry-title {
						line-height						: 1;
					}
					.site-main {
						padding							: @padding*2 @padding;
						margin							: 0;
					}
					.site-main .single {
						margin							: @margin*3 0;
					}
					#ccb-logo {
						padding							: 0 @padding!important;
					}
					.site-title {
						font-size						: 32px;
					}
					.site-description {
						margin							: 0;
						font-size						: 16px;
					}
					/* Widgets without margin */
					.widget {
						margin							: 0!important;
					}
					/* Listing */
					.listing .thumpcrob:before {	
					left						: calc(50%-.6em);
					}
					.page .entry-title, .post .entry-title {
						margin						: @margin 0;
						padding						: 0;
					}
					.single .entry-meta {
					display							: inline;
					}
					/* Sidebar fullwidth on mobile devices */
					 .withsidebar .widget-area,
					 .withsidebar #sidebar
					 {
						width							: 100%;
						border-left						: 0;
					 }
					  .withsidebar .content-area{
						margin							: 0 -100% 0 0;
					 }
					 .withsidebar .site-main {
						display							: none;
					 }
					 /* Separator hidden on small screen and newline */
					footer .sep {
						visibility					: hidden;
						float						: right;
						width						: @mobilewidth/2;
					}
}	/* End Mobile */

/* Tablets */
@media @tablet {
	.site-main .single, .withsidebar .site-main .single {
			margin							: @margin*3 0;
			margin-right					: 0;
		}
	.single .entry-title {
		margin:0;padding:0;
	}
	.single .entry-meta {
			display							: inline;
	}
}
/* Extra wide screens: center content */
@media only screen and (min-width: 1499px) {
	.content-area {
		
	}
}