@import url(https://fonts.googleapis.com/css?family=Oswald:300|Lora|Lato);
/** Settings.less
  * Main settings for .less file
  */
/** Import Google fonts **/
/* http://designshack.net/articles/css/10-less-css-examples-you-should-steal-for-your-projects/ 
*/
/** Colors **/
/** Screen sizes **/
/** Mixins **/
/** http://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/ **/
.3dshadow {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
/** http://demosthenes.info/blog/532/Convert-Images-To-Black-And-White-With-CSS **/
/** Animations **/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -webkit-transform: translateY(-50%);
  }
  40% {
    -webkit-transform: translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -webkit-transform: translateY(-30%);
  }
  70% {
    -webkit-transform: translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform: translateY(-10%);
  }
  97% {
    -webkit-transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
/** Nice Fonts
 *	Headers:		Oswald, Century Gothic, Knockout, Bodoni Poster, Steinem
					Lato, Raleway, Amaranth, Signika, Josephine slab, Tikal sans, Italiana, Arsenal
 *	Good reading:	Noto serif, Open sans, Droid sans, Lora, Libre Baskerville
					Old Standard, Vollkorn, EB Garamond
 *	Sans Serif: 	Ubuntu
 *	Handwriting:	Cookie, Zaphino, Great Vibes, Dancing script, Pacifico, Lobster Two
					Courgette, Playball, Merienda
 */
/* Special Use Classes
  *	blockquote.highlight	blockquote outside of text flow
  *
  *
  */
/** Measures **/
/* Standard adminbar height */
/* Standard Mobile height */
/* Padding for logo or title */
/* Set explicitly for precision */
/*.5*/
/* Meta info floats left on larger screens */
/* % width of mobile buttons */
/* Default sidebar width */
/* Main site margin */
/* Main site padding */
/* Minimal size for square layout grid1 */
/* Prevent too tall thumbnails */
/** Colors **/
/* Background and text on color1 */
/* Background site */
/* Background overlayed element */
/* Border */
/* #53a1b8; */
/* Lightened color1 */
/* Complementary color */
/* Highlighting eg. in searches */
/* Standard transparency */
/* Readable dark grey */
/* Lightened txtcolor */
/* Lightened txtcolor */
/** Fonts **/
/* Main font */
/* Header */
/* for entry meta */
/* 15pt */
/** Icons, delays, transitions **/
/* Standard size dashicons */
/* Standard transition delay */
/*2px 2px 4px @txtcolor; */
#searchform #searchsubmit {
  font: 400 32px/1 dashicons !important;
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  vertical-align: bottom;
  text-shadow: none;
  box-shadow: none;
  display: none;
}
/* The "Search for" text is needed for screen readers, but we move it off screen, so we won't see it */
.ccb_navsearch .screen-reader-text {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}
/* Style the search input textbox */
.ccb_navsearch .search-field {
  color: #333333;
  border: 0;
  background: red;
  width: 0px;
  cursor: pointer;
  height: 26px;
  margin: 2px 0 2px 0;
  padding: 0 0 0 36px;
  position: relative;
  -webkit-transition: width 400ms ease;
  -moz-transition: width 400ms ease;
  -o-transition: width 400ms ease;
  transition: width 400ms ease;
}
/* Expand the search box when you click it */
.ccb_navsearch .search-field:active .ccb_navsearch .search-field:focus {
  width: 132px;
  border: 2px solid #111111;
  cursor: text;
  margin: 0;
  color: #aa2222;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Add a magnifying glass background */
.ccb_navsearch .search-form:before {
  font: 400 19px/1 dashicons !important;
  content: '\f179';
  position: absolute;
  font-weight: normal;
  padding-top: 5px;
  padding-left: 5px;
}
